.song-container {
  min-height: 60vh;
  display: flex; // displays on a straight line
  flex-direction: column; // drops everything back to stacked but allows use of "align-items
  align-items: center;
  justify-content: center;
}
